# Training Data
all_image_data/
!all_image_data/copy_to_train_and_val.py
training/
!training/flocksentry.ipynb
!training/custom.yaml
!training/test.mp4

# Python
.venv/
__init__.py

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
